<form class="ui form" action="delete_F.php" method ="post">
  <?php if(isset($kit)): ?>
            <input name="id" id="id" type="hidden" value="<?=$kit["id"];?>">
        <?php endif; ?>
  <div class="three fields">
    <div class="field">
      <label>Color</label>
      <a><?php if(isset($kit)) echo $kit["color"] ?></a>
    </div>
    <div class="field">
      <label>Price</label>
      <a><?php if(isset($kit)) echo $kit["price"] ?></a>
    </div>
    <div class="field">
      <label>Club</label>
      <a><?php if(isset($kit)) echo $kit["club"] ?></a>
    </div>
  </div>
  <button type="submit" class="ui red right floated icon button">
    Delete
  <i class="plus icon"></i>
  </button>
</form>
