body{
	font-family: Arial;
	font-size: small;
	background:#db4848;



  display: grid;
  grid-template-areas:
    ". header ."
   	". nav . "
    ". article ."
		". articleT ."
    ". footer .";
  grid-template-rows: 60px auto auto auto auto;
  grid-template-columns: auto 900px auto;
  grid-row-gap: 15px;


  margin: 20px;
  }
 #articleT, footer, article, nav, header{
	background: white;
	font-family: 'Saira Semi Condensed', sans-serif;
	text-align: left;
	font-weight: normal;
	padding: 10px;

}
table {
    border-collapse:collapse;
    width: 100%;
    table-layout: fixed;

}

th, td {
    text-align: left;
    padding: 8px;

}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #c39c5b;
    color: white;
}
#thMain{
  background-color:#db4848;
  text-align: center;
  font-size: 20px;
}

footer {
  grid-area: footer;
	text-align: center;

  }

article {
  grid-area: article;


  }
#articleT{
	grid-area: articleT;

	}
nav {
  grid-area: nav;
	padding-top: 5px;
	font-weight: bold;
}

header {
	grid-area: header;
	font-size: 27px;
	font-weight: bold;
	padding-top: 5px;
	text-align: center;

}

p{
	font-weight: normal;
	font-weight: Thin;
}
ul{
	font-weight: normal;
}

strong{

	color: #56a842;

}
a{
	font-weight: normal;

}
#fuentes{
	border-collapse: collapse;
	border: 2px solid #56a842;
	color: black;
	padding: 10px;
	font-weight: bolder;
}
