<div class="ui piled segment">



  <form action="nuevo.php" method="post">
  <button type="submit" class="ui circular green right floated icon button">
  <i class="plus icon"></i>
  </button>
  </form>

  <h2 class="ui header"> Info </h2>

  <h5 class="ui header">First we get all the kits in the Data Base</h5>
  <?php getKits() ?>

  <h5 class="ui header">Secondly we get all kits that are White</h5>
  <?php getKitbyColor("WHITE") ?>

  <h5 class="ui header">Finaly we get all kits that are under 90 dollars</h5>
  <?php getCheapestKits("90") ?>

</div>



<div id="divt">
  <table class="ui table" id="tabl">
    <tr>
      <th>Pregunta</th>
      <th>respuesta</th>
    </tr>
    <tr>
      <td>¿Qué es SQL Injection?</td>
      <td><strong>Es un metodo de delincuencia para robar información o destruir una base de datos. Utilizando SQL para robar manipular la base, y para prevenitlo puedes Usar capas en tu systema. Validando toda la información que te da el usuario</strong></td>
    </tr>
    <tr>
      <td>¿Por qué es una buena práctica separar el modelo del controlador?</td>
      <td><strong>Es una forma de evitar SQL Injection, de manera que no le das una puerta de acceso al usuario para hacer inputs en SQL y manipular tu base de datos</strong></td>
    </tr>

  </table>
</div>

</div>
