
.ui.block.header{
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;

}
.ui.form{
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 15px;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 5px;
}

.ui.form, .ui.block.header{
  box-shadow: 0px 0px 5px gray;
}

.ui.segment{
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 5px;
  visibility: hidden;
}
#warning{
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 5px;
  box-shadow: 0px 0px 10px grey;
  visibility: hidden;
  border-radius: 5px;
}
#divt{
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  box-shadow: 0px 0px 10px grey;
  border-radius: 5px;
}
#tabl{
  padding: 10px;
  box-shadow: 0px 0px 10px grey;
  border-radius: 5px;
  
}
th{
  background-color: rgb(157, 105, 204);
  color: white;
}
