
.ui.block.header{
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;

}
.ui.form{
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 15px;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 5px;
  background-color: white;
}

.ui.form, .ui.block.header{
  box-shadow: 0px 0px 5px black;
}

#divt{
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 10px;
  box-shadow: 0px 0px 10px black;
  border-radius: 5px;
  background-color: white;
}
#tabl{
  padding: 10px;
  box-shadow: 0px 0px 10px grey;
  border-radius: 5px;

}
th{
  background-color: rgb(157, 105, 204);
  color: white;
}

body{
  background-color: rgb(27, 92, 134);
}
